.button-bar {
    background-color: white;
    border-top: 1px solid #C8C7CC;
    
    padding: 8px 0;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100vw;
}